{% extends "base.twig" %}


{% block contenu %}
<form action="" method="post">
    <fieldset style="margin-left:25%;margin-right:25%">
        <span class="message">{{ message }}</span>
        <table align="center">
            <tr>
                <td>
                    Module:
                </td>
                <td>
                    <select name="Module">
                        {% for module in modules %}

                            <option value="{{ module.getIdModule() }}" {% if id_mod==module.getIdModule() %}selected{% endif %}>{{ module.libelle }}</option>

                        {% endfor %}


                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Date:
                </td>
                <td>
                    <input type="date" name="Date" value="{{date}}" max="{{dateMax}}" min="{{dateMin}}">
                </td>
            </tr>
            <tr>
                <td>
                    Type:
                </td>
                <td>
                    <select name="Type">
                        {% for type in types %}

                        <option value="{{ type.getIdTypeSeance() }}" {% if typeActuel==type.getIdTypeSeance() %}selected{% endif %}>{{ type.libelle }}</option>

                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Groupe:
                </td>
                <td>
                    <select name="Groupe">
                        {% for groupe in groupes %}

                            <option value="{{ groupe.groupe }}" {% if groupeActuel==groupe.groupe %}selected{% endif %}>{{ groupe.groupe }}</option>

                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="valider" value="Valider">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endblock %}
