{% extends "base.twig" %}


{% block contenu %}
<form action="" method="POST">
    <fieldset style="margin-left:25%;margin-right:25%">
        <span class="message">{{ message }}</span>
        <table align="center">
            <tr>
                <td>
                    Module:
                </td>
                <td>
                    <select name="Module">
                        {% for module in modules %}

                            <option value="{{ module.getIdModule() }}">{{ module.libelle }}</option>

                        {% endfor %}


                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Date:
                </td>
                <td>
                    <input type="date" min="{{ dateMin }}" max="{{ dateMax }}" name="Date" value="{{ date }}">
                </td>
            </tr>
            <tr>
                <td>
                    Type:
                </td>
                <td>
                    <select name="Type">
                        {% for type in types %}

                        <option value="{{ type.getIdTypeSeance() }}">{{ type.libelle }}</option>

                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Groupe:
                </td>
                <td>
                    <select name="Groupe">
                        {% for groupe in groupes %}

                            <option value="{{ groupe.groupe }}">{{ groupe.groupe }}</option>

                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="valider" value="Valider">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endblock %}
