{% extends "base.twig" %}

{% block css %}
    <style>
        span.obligatoire {
            color: red;
        }
        #heure {
            width:11%;
        }
        #minute {
            width:11%;
        }
    </style>

{% endblock %}

{% block contenu %}
    <form action="" method="post">
        <fieldset>
            <span>{{ message }}</span>
            <table>
                <tr>
                    <td><input type=hidden name="id" value="{{ id }}" > </td>
                    <td>
                        Catégorie: <span class="obligatoire">*</span>
                    </td>
                    <td>
                        <select name="Categorie">
                            {% for type in types %}
                                <option value="{{ type.GetIdTypeEvenement() }}" {% if categorie == type.GetIdTypeEvenement() %} selected {% endif %}> {{ type.libelle }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description du travail: <span class="obligatoire">*</span>
                    </td>
                    <td>
                        <input type="text" name="Description" value="{{ description }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Durée:
                    </td>
                    <td>
                        <input id="heure" type="number" name="heure" min="0"> heure(s)
                        <input id="minute" type="number" name="minute" min="0" max="59" step="15"> minute(s)
                    </td>
                </tr>
                <tr>
                    <td>
                        Pour le:
                    </td>
                    <td>
                        <input type="date" name="Date" value="{{date}}" max="{{dateMax}}" min="{{dateMin}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        (<span class="obligatoire">*</span> champs obligatoires)
                    </td>
                    <td>
                        <input type="submit" name="valider" value="Valider">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        Vous pourrez ajouter des pièces jointes une fois l'évènement créé
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
{% endblock %}