{% extends "base.twig" %}

{% block css %}
    <style>
        span.obligatoire {
            color: red;
        }
    </style>
{% endblock %}

{% block contenu %}
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <span>{{ message }}</span>
            <table>
                <tr>
                    <td><input type=hidden name="id" value="{{ id }}" > </td>
                    <td>
                        Catégorie: <span class="obligatoire">*</span>
                    </td>
                    <td>
                        <select name="Categorie">
                            {% for type in types %}
                                <option value="{{ type.getIdTypeEvenement() }}" {% if categorie == type.id_typeevenement and categorie is not null %} selected {% endif %}> {{ type.libelle }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description du travail: <span class="obligatoire">*</span>
                    </td>
                    <td>
                        <input type="text" name="Description" value="{{ description }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        PJ:
                    </td>
                    <td>
                        <input type="file" name="PJ">
                    </td>
                </tr>
                <tr>
                    <td>
                        Temps:
                    </td>
                    <td>
                        <input type="time" name="Temps" min="00:00" max="99:59" value="{{ temps }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Pour le:
                    </td>
                    <td>
                        <input type="date" name="Date" value="{{date}}" max="{{dateMax}}" min="{{dateMin}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        (<span class="obligatoire">*</span> champs obligatoires)
                    </td>
                    <td>
                        <input type="submit" name="valider" value="Valider">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
{% endblock %}
