{% extends "base.twig"%}

{% block css %}
<style>
    table {border: solid 5px lightseagreen;
    border-collapse: collapse;
    font-size: medium;
    empty-cells: show;
    }

    th, td {
        padding: 2px 8px;
        border: solid 1px lightseagreen;
    }

    tr:nth-child(odd) {
        background-color: #FFC; /* jaune */
    }

    table img {
        height: 12px;
    }
</style>
{% endblock %}

{% block js %}
    <script>
        function verifSuppression(id) {
            if (confirm('Voulez-vous vraiment supprimer l\'utilisateur d\'identifiant "' + id + '"?')) {
                alert("ok deleting " + id);
                document.location.href = "PHP/deleteUtilisateur.php?id=" + id;
            } else {
                alert("ok pas de souci l'ami");
            }
        }
    </script>
{% endblock %}

{% block contenu %}
<table>
    <tr>
        <th>id_utilisateur</th>
        <th>nom</th>
        <th>prenom</th>
        <th>role</th>
        <th>groupe</th>
        <th>cree_le</th>
        <th>mal_le</th>
    </tr>


    {% for user in tabUser %}
    <tr>
        <td>{{ user.getIdUtilisateur() }}</td>
        <td>{{ user.Nom() }}</td>
        <td>{{ user.Prenom() }}</td>
        <td>{{ user.getRole() }}</td>
        <td>{{ user.getGroupe() }}</td>
        <td>{{ user.getCreeLe() }}</td>
        <td>{{ user.getMajLe() }}</td>
        <td><a href="updateUtilisateur.php?id={{user.getIdUtilisateur()}}"><img src="images/edit.png" alt="Modifier l'utilisateur"/></a></td>
        <!-- deleteUtilisateur.php?id={{user.getIdUtilisateur()}} -->
        <td><a href="javascript:verifSuppression('{{user.getIdUtilisateur()}}')"><img src="images/delete.jpeg" alt="Supprimer l'utilisateur"/></a></td>
        <!-- Ajouter bouton pour modifier la row (update)-->

    </tr>
    {% endfor %}
</table>
{% endblock %}