{% extends "base.twig"%}

{% block css %}
<style>
    table {border: solid 5px lightseagreen;
    border-collapse: collapse;
    font-size: medium;
    empty-cells: show;
    }

    th, td {
        padding: 2px 8px;
        border: solid 1px lightseagreen;
    }

    tr:nth-child(odd) {
        background-color: #FFC; /* jaune */
    }

    table img {
        height: 12px;
    }
</style>
{% endblock %}

{% block js %}
    <script>
        function verifSuppression(id, idModule) {
            if (confirm('Voulez-vous vraiment supprimer l\'affectation entre "' + id + '" et "' + idModule + '"?')) {
                alert("ok deleting " + id);
                document.location.href = "PHP/deleteAffectation.php?id=" + id + "&idModule=" + idModule;
            } else {
                alert("suppression annulée");
            }
        }
    </script>
{% endblock %}

{% block contenu %}
<table align="center">
    <tr>
        <th>id_utilisateur</th>
        <th>module</th>
    </tr>


    {% for affectation in tabAffectations %}
    <tr>
        <td>{{ affectation.getIdUtilisateur() }}</td>
        <td>{{ affectation.getIdModule() }} ({{ tabLibModules[affectation.getIdModule()] }})</td>
        <!-- deleteAffectation.php?id={{affectation.getIdUtilisateur()}} -->
        <td><a href="javascript:verifSuppression('{{affectation.getIdUtilisateur()}}', '{{affectation.getIdModule()}}')"><img src="images/delete.jpeg" alt="Supprimer l'affectation"/></a></td>
        <!-- Ajouter bouton pour modifier la row (update)-->

    </tr>
    {% endfor %}
</table>
<br/>
<div align="center"><a class="button" href="formAffecter.php">Créer une affectation</a></div>
<br/>
{% if message == "L'affectation existe déjà."%}
	<div align="center" style="color:red">{{message}}</div>
{% else %}
	<div align="center">{{message}}</div>
{% endif %}
{% endblock %}
